* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr 70px;
}


header{
    display: grid;
    background-color: aqua;

    grid-template-columns: 1fr 1fr;
    align-content: center;
    /* justify-content: center; */
}

main{
    display: grid;
    background-color: cornflowerblue;
}

footer{
    display: grid;
    background-color: cadetblue;
    grid-template-columns: 1fr 1fr;
}