* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr 70px;
   font-weight: 300;
   line-height: 1.5rem;
}
img{
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
}


.header-ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column; 
    justify-content: start;
    gap: 2rem;
}

.right-Header-ul{
    list-style: none;
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
}

header a {
    text-decoration: none;
    color: black;
}


main{
    width: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 1rem;
}


.product-box{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax( 350px, 1fr));
    margin-bottom: 1rem;
}
/* 
.products-container:hover{
    transform: scale(1.2);
} */

main a {
    text-decoration: none;
    color: black;
}

.products-container{
    position: relative;
    width: 230px;
}

.product-img{
    width: 230px;
}

.product-tag{
    position: absolute;
    top: -1rem;
    right: 0;
    background-color: royalblue;
    color: white;
    padding: 0.2rem;
  
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  
    font-size: 0.8rem;

}


.item-prices{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    gap: 0.5rem;
}

footer{
    display: grid;
    /* background-color: cadetblue; */
    grid-template-columns: 1fr auto;
    padding: 1rem;
}